@import url('https://fonts.googleapis.com/css2?family=Protest+Revolution&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Protest+Revolution&display=swap');

body {
    font-family: Arial, sans-serif;
    background-color: #FFB0B0;
    
}

.container {
    max-width: 600px;
    margin: 50px auto;
    text-align: center;
    background-color: #DCF2F1;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-decoration: underline;
    color: #333;
   font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

#quote {
    margin: 20px 0;
    /* font-style: italic; */
    font-family: "Dancing Script", cursive;
    font-size: 25px;
    color: #191919;
   
}

#generate-btn {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#generate-btn:hover {
    background-color: #45a049;
}